@keyframes fadeInAnimation {
	0% {
	  opacity: 0; /* Начальная прозрачность 0 */
	  transform: scale(0.8) translateY(-20px);
	}
	100% {
	  opacity: 1; /* Конечная прозрачность 1 */
	  transform: scale(1) translateY(0px);
	}
  }
  
  @keyframes fadeOutAnimation {
	0% {
	  opacity: 1; /* Начальная прозрачность 1 */
	  transform: scale(1);
	}
	100% {
	  opacity: 0; /* Конечная прозрачность 0 */
	  transform: scale(0.8) translateY(-20px);
	}
  }