.button {
    color: white;
    background-color: $pink-color;
    width: 160px;
    height: 42px;
    border: none;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    &:hover {
        background-color: $pink-color-hover;
    }
    &_form {
        width: 160px;
        height: 56px;
    }
    &_black {
        border: none;
        color: white;
        width: 260px;
        height: 56px;
        background-color: $black-color;
        &:hover {
            background-color: $black-color-hover;
        }
        &:disabled {
           visibility: hidden;
        }
    }
}