.examples {
    padding-top: 60px;
    padding-bottom: 60px;
    &__title {
        text-align: left;
    }
    &__slide-container {
        width: 1440px;
        margin: 40px auto 0 auto;
    }
    &__wrapper{
        width: 100%;
        overflow: hidden;
        &_row-1, &_row-2 {
            display: grid;
            column-gap: 10px;
            justify-content: space-around;
        }
        &_row-1 {
            grid-template-columns: 452px 290px 398px 250px;
        }
        &_row-2 {
            grid-template-columns: 250px 398px 290px 452px;
        }  
    }
    &__inner {

        display: flex;
        transition: 0.5s all;
        max-height: 900px;
    }
    &__slide {
        
        padding: 1px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: 1fr;
        row-gap: 10px;
        grid-auto-flow: row;
        }
    &__item {
        display: block;
        border: 1px solid $black-color;
        width: 100%;
        min-height: 367px;
        &_wide {
            img {
                display: block;
                height: 300px;
                object-fit: cover;
                width: inherit;
            }
        }
        &_harrow {
            img {
                display: block;
                height: 300px;
                object-fit: cover;
                width: inherit;
            }
        }
        &_descr {
            // overflow: hidden;
            border-top: 1px solid $black-color;
            padding: 20px;
            p {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
       
    }
    &__navigation {
        padding-top: 40px;
        display: flex;
        justify-content: end;
        .button_black {
            height: 60px;
            width: 60px;
            &:disabled {
                visibility: visible;
                background-color: $black-color-hover;
            }
        }
        
    }
}