@media (max-width: 1441px) {
    .stages {
        &__title_end {
            line-height: 64px;
        }
    }
    .reviews {
        &__slide {
            &_title {
                line-height: 22px;
            }
        }
    }
    .questions {
        &__accordion {
            &__title {
                line-height: 24px;
            }
            &__descr {
                line-height: 16px;
            }
        }
    }
    .contacts {
        &__title {
            line-height: 36px;
        }
        &__link {
            line-height: 36px;
        }
    }
}

@media (max-width: 1439px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__wrapper {
            gap: 345px;
        }
        &__devider {
            width: 960px;
        }
        &__info {
            &_phone {
                white-space: nowrap;
            }
        }
        &__menu {
            white-space: nowrap;
            gap: 25px;
        }
    }
    .promo {
        // display: none;
        &__img {
            top: 145px;
        }
        .title_promo {
            font-size: 60px;
        }
    }
    .characteristics {
        &__wrapper {
            width: 840px;
        }
        &_item {
            width: 100%;
        }
        img {
            left: 730px;
        }
    }
    .form-slider {
        &__navigation {
            width: 100%;
        }
        &__item {
            input {
                width: 320px;
            }
            .label-upload {
                width: 320px;
            }
        }
        
    }
    .examples {
        display: none;
    }
    .advantages {
        display: none;
    }
    .stages {
        display: none;
    }
    .info {
        display: none;
    }
    .reviews {
        display: none;
    }
    .questions {
        display: none;
    }
    .contacts {
        display: none;
    }
    .footer {
        display: none;
    }
}

@media (max-width: 1200px) {
    
    }