.promo {
    position: relative;
    height: 948px;
    padding-top: 258px;
    padding-bottom: 60px;
    &_wrapper {

    }
    &__title {
        width: 560px;
        height: 192px;
        // padding-bottom: 60px;
        margin-bottom: 60px;
    }
    &__img {
        position: absolute;
        right: 0px;
        top: 258px;
        width: 712px;
        height: 584px;
        z-index: -1;
    }
    &__services {
        margin-top: 170px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 152px;
        box-shadow: 0px 0px 32px rgba(168, 168, 168, 0.6);
        background: #FFFFFF;
        border-top: 1px solid $black-color;
        border-left: 1px solid $black-color;
        &_item {
            height: 152px;
            width: 387px;
            padding: 40px;
            text-align: left;
            border-bottom: 1px solid $black-color;
            border-right: 1px solid $black-color;
            span {
                color: $pink-color;
            }
        }   
    }
}