.stages {
    position: relative;
    height: 1540px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $background-color-gray;
    &__title_end {
        margin: 0 0 0 auto;
        padding-top: 20px;
        width: 460px;
        height: 192px;
        text-align: left;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 360px 160px 360px;
        column-gap: 140px;
        padding-top: 40px;
        &_col {
            &:first-child{
                .stages__item {
                    &:first-child {
                        margin-top: 107px;
                    }
                    &:nth-child(3) {
                        margin-top: 228px;
                    }
                }
            }
            &:nth-child(2) {
                text-align: center;
                    img {
                        position: sticky;
                        top: 0;
                    }
                
            }
            &:nth-child(3) {
                .stages__item {
                    &:first-child {
                        margin-top: 228px;
                    }
                }
                
            }
        }
    }
    &__item {
        margin-top: 216px;
        max-height: 200px;
        &_header {
            span {
                color: $pink-color;
                margin-right: 20px;
            }
        }
        &_description {
            width: 311px;
            padding-top: 20px;
            margin-left: 49px;
        }
    }
}