@import 'libs/font';
@import 'base/variables';

@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/promo';
@import 'blocks/characteristics';
@import 'blocks/form-slider';
@import 'blocks/advantages';
@import 'blocks/stages';
@import 'blocks/info';
@import 'blocks/examples';

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Bebas Neue';
    margin: 0;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.fz-14-os {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.fz-16-bn {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
 }

 .fz-16-os {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
 }

.fz-24-bn {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.fz-32-bn {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
}

.fz-36-bn {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

.fz-48-bn {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

.fz-64-bn {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
}


    
